.layout-container {
  display: flex;
  height: calc(100vh - 64px); // o sidenav e conteúdo ficam abaixo do header
  margin-top: 64px; // desloca o sidenav pra não ficar por baixo do header
}

mat-sidenav {
  background-color: #01586d; // mantém verde do header
  color: white;
  border: none;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  /* remove scroll quando não precisa */
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

mat-sidenav-content {
  background-color: #f5f5f5;
  height: 100%;
  overflow-y: auto;
}
