<!-- <main class="home-container">
  <mat-toolbar color="primary" class="navbar">
    <div class="container">
      <span class="logo" aria-label="Logo Simpleto Adm"></span>
    </div>
  </mat-toolbar>
</main> -->

<mat-toolbar color="primary" class="navbar">
  <div class="navbar-content">
    <div class="logo" aria-label="Logo Simpleto Adm"></div>

    <div class="menu" *ngIf="!isMobile">
      <button mat-button>Início</button>
      <button mat-button>Sobre</button>
      <button mat-button>Contato</button>
      <button mat-raised-button color="accent" class="btn-primary">Acesso ao Sistema</button>
    </div>
  </div>
</mat-toolbar>
