<nav class="gb-sidenav" [class.collapsed]="collapsed">
  <ul class="gb-sidenav__list">
    @for (item of menu; track item.title) {
    <li class="gb-sidenav__item" [class.active]="activeItem === item.title">
      <button class="gb-sidenav__button" (click)="toggleExpand(item.title)" aria-haspopup="true"
        [matTooltip]="collapsed ? item.title : ''" matTooltipPosition="right"
        [attr.aria-current]="activeItem === item.title ? 'page' : null">

        <mat-icon class="gb-sidenav__icon">{{ item.icon }}</mat-icon>
        <span class="gb-sidenav__title">{{ item.title }}</span>

        <!-- Só mostra o expand_more / expand_less se tiver children -->
        <mat-icon class="gb-sidenav__chev" *ngIf="item.children && item.children.length > 0">
          {{ expandedItem === item.title ? 'expand_less' : 'expand_more' }}
        </mat-icon>
      </button>


      @if (expandedItem === item.title) {
      <ul class="gb-sidenav__submenu">
        @for (child of item.children; track child.title) {
        <li [class.active]="activeChild === child.title">

          @if (!child.subChildren) {
          <a [routerLink]="child.route || item.route" class="gb-sidenav__submenu-link"
            [matTooltip]="collapsed ? child.title : ''" matTooltipPosition="right"
            [attr.aria-current]="activeChild === child.title ? 'page' : null">
            <mat-icon class="gb-sidenav__icon">{{ child.icon }}</mat-icon>
            <span class="gb-sidenav__title">{{ child.title }}</span>
          </a>
          }

          @if (child.subChildren) {
          <button class="gb-sidenav__submenu-link gb-sidenav__submenu-button"
            (click)="toggleExpandChild(item.title, child.title)" [class.active]="activeChild === child.title"
            [matTooltip]="collapsed ? child.title : ''" matTooltipPosition="right">
            <mat-icon class="gb-sidenav__icon">{{ child.icon }}</mat-icon>
            <span class="gb-sidenav__title">{{ child.title }}</span>
            <mat-icon class="gb-sidenav__chev">
              {{ isChildExpanded(item.title, child.title) ? 'expand_less' : 'expand_more' }}
            </mat-icon>
          </button>

          @if (isChildExpanded(item.title, child.title)) {
          <ul class="gb-sidenav__subsubmenu">
            @for (subChild of child.subChildren; track subChild.title) {
            <li [class.active]="activeSubChild === subChild.title">
              <a [routerLink]="subChild.route" class="gb-sidenav__submenu-link gb-sidenav__subchild-link"
                [matTooltip]="collapsed ? subChild.title : ''" matTooltipPosition="right"
                [attr.aria-current]="activeSubChild === subChild.title ? 'page' : null">
                @if (subChild.icon) {
                <mat-icon class="gb-sidenav__icon">{{ subChild.icon }}</mat-icon>
                } @else {
                <span class="gb-sidenav__icon-placeholder"></span>
                }
                <span class="gb-sidenav__title">{{ subChild.title }}</span>
              </a>
            </li>
            }
          </ul>
          }
          }
        </li>
        }
      </ul>
      }
    </li>
    }
  </ul>
</nav>