// pacientes.scss
:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 64px);
  /* ocupa toda a tela abaixo do header */
  box-sizing: border-box;
  background-color: transparent;
  padding: 1rem 1.5rem;
  /* mantém margem igual à do main */
}