// === Material 3 Theming ==================================
@use '@angular/material' as mat;

// Define o tema principal do app
html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

// === Estilos globais do body ==============================
body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

/* styles.scss ou layout.scss */
.page-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 64px);
  box-sizing: border-box;
  background-color: transparent;
  padding: 1rem 1.5rem;
}

.page-main .list-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}